# build files
/main
/*.o
*.spv
/.cache
/docs
compile_commands.json
/build

# MacOS metadata
.DS_Store

# flamegraph data
/flame_graph.svg
/folded_data.txt
/perf.data
/perf.data.old
/profile_data.txt
/FlameGraph
/generate_flamegraph.sh

# clion IDE
/.idea/shelf
/.idea

# VSCode IDE
/.vscode

# cmake stuff
/cmake-build-*
Makefile
CMakeCache.txt
cmake_install.cmake
/CMakeFiles
